<div>
    <div>
        <div>
            <img src={{%Image%}} height="120" width="120" alt="">
        </div>
        <div>
            <h3>{{%NAME%}} </h3>
        <p><span>Model Name :</span>{{%ModelName%}} </p>
        <p><span>Model Number :</span>{{%ModelNumber%}} </p>
        <p><span>Size :</span>{{%Size%}} </p>
        <p><span>Camara :</span>{{%Camera%}} </p>
        </div>
    </div>
    <div> <h4>Price : {{%Price%}}</h4></div>
    <div><h4>Color : {{%color%}} </h4> </div>
    <div>
        <!-- <button>BuyNow</button> -->
        <a href="/products?id={{%ID%}}">Show Details</a>
    </div>
</div>